* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #010e1a;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container canvas {
  display: block;
  /* Phaser maneja el escalado; esto centra el canvas */
  margin: 0 auto;
}
